<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>顶部</title>
    <link rel="stylesheet" th:href="@{static/css/common.css}">
    <style>
        body { margin: 0; }
        .top-bar {
            height: 60px;
            background-color: #5c626a;
            display: flex;
            align-items: center;
            padding: 0 20px;
            color: #fff;
            font-size: 18px;
            justify-content: space-between;
        }
        .hello{
            padding-top: 30px;
            height: 60px;
            color: #fff;
            font-size: 13px;
        }
    </style>
</head>
<body>
<div class="top-bar">
    <span>QQZone</span>
    <div class="hello">
        <span>欢迎进入 Yuluo 的空间！</span>
        <span><a style="cursor: pointer">我的空间</a></span>
    </div>

</div>
</body>
</html>